<article class="flex h-full flex-col p-2">
  <form class="w-full bg-white pb-2">
    <label class="w-full" for="search">
      <input
        class="w-full rounded-2xl border border-gray-300 bg-gray-200 px-4 py-2 outline-none focus:bg-transparent"
        type="text"
        id="search"
        placeholder="Search" />
    </label>
  </form>

  <section class="flex h-full flex-col gap-2 overflow-y-auto">
    @for (chat of chats; track chat.id) {
      <app-chat-preview
        [chatName]="chat.name"
        [lastMessageTime]="chat.lastMessageTime"
        [lastMessage]="chat.lastMessage"
        [unreadMessages]="chat.unreadMessages"></app-chat-preview>
    }
  </section>
</article>
