.bg-sidebar {
  transition: all 0.5s;
  display: none;
}

#burguer:checked ~ .sidebar {
  transform: translateX(0);
}

#burguer:checked ~ .bg-sidebar {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
